#blog h4 {
    text-align: center;
    font-size: 22px;
}

#blog p {
    text-align: center;
    font-size: 16px;
}

#blog .contenedor {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}



#blog article {
    justify-content:center;
    margin: 2px;
    text-align: center;
    padding: 60px;
}

#blog img {
    width: 110px;
    max-width: 138px;
}


.intro h8{
    text-align: center;
    font-size: 24px;
}
 
.intro .contenedor {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

#imagen-intro img{
    width: 490px;
    max-width: 460px;
    margin-top: 5px;
}

#imagen-intro{
    float: left;
}

.texto-intro{
    float: left;
    width: 450px;
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/*

#intro p{
    font-size: 16px;
    margin-left: 0px;
}

#intro .contenedor {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.texto-intro{
    display: table-cell;
    float: left;
}

#intro article {
    justify-content:center;
    text-align:justify;
}

#intro img{
    display: table-cell;
    width: 10xp;    
    max-width: 400px;
    float: right;
    margin-right: 50px;
    margin-bottom: 40px;
    margin-top: 5px;
}
*/

@media (min-width:320px) {
  #blog article {
        justify-content:center;
        margin: 2px;
        text-align: center;
        padding: 20px;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    
    #blog article2 {
        justify-content:center;
        margin: 2px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .texto-intro {
        width: 350px;
        margin-top: 50px;
        margin-left: 1%;
        margin-right: 1%;
        text-align: justify;
    }
    
    
     #imagen-intro img{
        width: 350px;
        max-width: 350px;
        margin-top: 30px;
    }
    
  
}

@media (min-width:480px) {
    
    #blog article {
        justify-content:center;
        margin: 2px;
        text-align: center;
        padding: 40px;
        padding-top: 20px;
        margin-bottom: 50px;
    }
    
    #blog article2 {
        justify-content:center;
        margin: 2px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    
    .texto-intro {
        width: 700px;
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
    }
    
    .blog {
        width: 40%;
    }
    
     #imagen-intro img{
        width: 450px;
        max-width: 450px;
        margin-top: 5px;
    }
    
  
}

@media (min-width:768px){
    
     #blog article {
        justify-content:center;
        margin: 2px;
        text-align: center;
        padding: 60px;
        padding-top: 5px;
        margin-bottom: 50px;
    }
    
    #blog article2 {
        justify-content:center;
        margin: 2px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 50px;
    }
    
    .texto-intro {
        width: 12000px;
        margin-top: 30px;
        margin-left: 6%;
        margin-right: 6%;
        text-align: justify;
    }
    
    .sociales {
        width: auto;
    }
    
    footer .contenedor {
        justify-content: space-between;
    }
    
    
    #imagen-intro img{
        width: 550px;
        max-width: 550px;
        margin-top: 5px;
    }
    
}

@media (min-width:1024px) {
    
     #blog article {
        justify-content:center;
        margin: 2px;
        text-align: center;
        padding: 0px;
        padding-top: 40px;
        margin-bottom: 50px;
    }
    
    #blog article2 {
        justify-content:center;
        margin: 2px;
        text-align: center;
        padding-left: 180px;
        padding-right: 180px;
        margin-top: 40px;
        margin-bottom: 50px;
    }
       
    
    .blog {
        width: auto;
    }
    
    
    .texto-intro {
        width: 450px;
        margin-top: 0px;
        margin-left: 80px;
        margin-right: 0px;
        text-align: left;
    }
    
    #imagen-intro img{
        width: 450px;
        max-width: 450px;
        margin-top: 18px;
        margin-bottom: 18px;
    
    
}

   


