
#banner-empezar {
    position: relative;
    margin-top: 50px;
   
}

#banner-empezar img{
    width: 100%;
    height: 100%;
}

#banner-empezar .contenedor {
    width: 45%;
    position: absolute;
    top: 40%;
    left: 25%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.534);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px; 
    padding-bottom: 10px;
    border-radius: 8px;
}

#banner-empezar p{
    font-size: 28px;
    text-align: center;
    padding: 0px;
}

#correctamente {
    color: #b7fd9b;
}

/*ATENCION*/

#cuadro-atencion {
    position: relative;
    padding: 0%;
    height: auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%; 
    padding-bottom: 1%;
}

#cuadro-atencion img{
    float: left;
    padding-top: 1.4%;
    width: 72px;
    height: auto;


}

#cuadro-atencion {
    background-color: #ffead5;
    border-radius: 10px;
}

#cuadro-atencion h2 {
    color: rgb(255, 140, 0);
    text-align: center;
    margin-bottom: 1%;

}

.lista-atencion {
    text-align: center;
    padding-left: 5px;

 
}

form {
    width: 100%;
    background-color: yellow;
}

#t-contenedor {
    width: 85%;
    margin: auto;
    background-color: violet;

}

.tut-titulo {
    position: sticky;
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
}



#tutorial .t-num {
    background-color: #8b61b3;
    color:white;
    width: 5%;
    height: 50px;
    text-align: center;

}

#tutorial .t-text {
    background: #b9a0d1;
    color: white;
    width: 75%;
    text-align: center;
}
