body {
    background-color: rgb(100, 146, 91);
}

#banner-empezar {
    position: relative;
    margin-top: 50px;
   
}

#banner-empezar img{
    width: 100%;
    height: 100%;
}

#banner-empezar .contenedor {
    width: 45%;
    position: absolute;
    top: 40%;
    left: 25%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.534);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px; 
    padding-bottom: 10px;
}

#banner-empezar p{
    font-size: 28px;
    text-align: center;
    padding: 0px;
}